*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2; /* 30/25 */
  color: #222222;
}

[class*=__container] {
  max-width: 1094px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  background-image: url(../././img/main-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__content {
  margin-bottom: 23px;
}

.main__title {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 20px;
  font-size: 48px;
}
@media screen and (max-width: 479.98px) {
  .main__title {
    font-size: 27px;
    margin-top: 25px;
    margin-bottom: 175px;
  }
}

.title {
  display: inline-block;
  position: relative;
  padding: 6px 43px 6px 43px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #040f85;
  border: 4.91729px solid #ffffff;
}
.title::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: 27px;
  height: 30px;
  border-top: 7.03937px solid #ffffff;
  border-left: 7.03937px solid #ffffff;
}
.title::after {
  content: "";
  position: absolute;
  top: -20px;
  right: -20px;
  width: 27px;
  height: 30px;
  border-top: 7.03937px solid #ffffff;
  border-right: 7.03937px solid #ffffff;
}

.main__accent {
  color: #ffe600;
}
.main__accent::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -20px;
  width: 27px;
  height: 30px;
  border-bottom: 7.03937px solid #ffffff;
  border-left: 7.03937px solid #ffffff;
}
.main__accent::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 27px;
  height: 30px;
  border-bottom: 7.03937px solid #ffffff;
  border-right: 7.03937px solid #ffffff;
}

.main__text {
  font-weight: 600;
  font-size: 48px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 8px;
}
@media screen and (max-width: 479.98px) {
  .main__text {
    font-size: 27px;
    z-index: 10;
  }
}

.main__day {
  display: inline-block;
  padding: 2px;
  font-weight: 600;
  font-size: 48px;
  text-transform: uppercase;
  color: #040f85;
  background-color: #ffe600;
  margin-bottom: 13px;
}
@media screen and (max-width: 479.98px) {
  .main__day {
    position: relative;
    font-size: 27px;
    z-index: 10;
  }
}

.main__time {
  font-weight: 800;
  font-size: 48px;
  color: #ffffff;
}
@media screen and (max-width: 479.98px) {
  .main__time {
    position: relative;
    font-size: 27px;
    z-index: 10;
  }
}

.main__media {
  position: relative;
  max-width: 64.6%; /* 662/1024 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main__image {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
  height: 518px;
  width: 774px;
}
@media screen and (max-width: 1023.98px) {
  .main__image {
    right: -192px;
  }
}
@media screen and (max-width: 767.98px) {
  .main__image {
    height: 366px;
    width: 581px;
  }
}
@media screen and (max-width: 479.98px) {
  .main__image {
    width: 575px;
  }
}

.page__post {
  margin-top: 50px;
}
@media screen and (max-width: 479.98px) {
  .page__post {
    margin-top: 20px;
  }
}

.post__title {
  font-size: 28px;
  line-height: 35px;
  color: #ff0000;
}
@media screen and (max-width: 479.98px) {
  .post__title {
    font-size: 22px;
  }
}

.post__signature,
.post__date {
  font-weight: 400;
  font-size: 19px;
  text-align: end;
  color: #858585;
}
@media screen and (max-width: 479.98px) {
  .post__signature,
.post__date {
    font-size: 16px;
  }
}

.post__text {
  margin-top: 79px;
  font-size: 28px;
}
@media screen and (max-width: 479.98px) {
  .post__text {
    font-size: 22px;
    margin-top: 30px;
  }
}

.page__facebook {
  margin-top: 50px;
}

.facebook__cover {
  padding-top: 18px;
  padding-bottom: 18px;
  margin: 0 auto;
  max-width: 735px;
  background: linear-gradient(136.96deg, #3a82f0 -0.75%, #014bb8 100.56%);
}

.facebook__post {
  margin: 0 auto;
  max-width: 693px;
  background-color: #ffffff;
  border: 8.575px solid #000000;
  border-radius: 3.675px;
}

.facebook__header {
  margin: 24px 24px 36px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
}

.facebook__image {
  width: 73px;
  height: 73px;
}

.facebook__name {
  font-size: 20px;
  color: #37689d;
  margin-top: 6px;
  margin-bottom: 8px;
}

.facebook__attributes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
}

.facebook__time {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #6c6c6c;
}

.facebook__text {
  margin-left: 71px;
  margin-right: 10px;
  font-weight: 500;
  font-size: 17px;
  color: #000000;
}
.facebook__text:not(:last-child) {
  margin-bottom: 45px;
}
@media screen and (max-width: 767.98px) {
  .facebook__text {
    margin-left: 10px;
  }
}
@media screen and (max-width: 479.98px) {
  .facebook__text {
    font-size: 15px;
  }
}

.facebook__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  padding: 18px 15px;
  margin: 127px 18px 18px 18px;
  -webkit-box-shadow: -4.9px -4.9px 4.9px rgba(0, 0, 0, 0.25), 4.9px 4.9px 4.9px rgba(0, 0, 0, 0.43);
          box-shadow: -4.9px -4.9px 4.9px rgba(0, 0, 0, 0.25), 4.9px 4.9px 4.9px rgba(0, 0, 0, 0.43);
}
@media screen and (max-width: 479.98px) {
  .facebook__footer {
    margin: 50px 10px 10px 10px;
    padding: 15px 10px;
  }
}

.facebook__likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.facebook__like,
.facebook__heart,
.facebook__emoji {
  width: 25px;
  height: 25px;
}

.facebook__count {
  font-weight: 500;
  font-size: 15px;
  color: #6c6c6c;
}

.facebook__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
@media screen and (max-width: 479.98px) {
  .facebook__comments {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 5px;
  }
}

.facebook__comment, .facebook__share {
  font-weight: 500;
  font-size: 15.6998px;
  color: #6c6c6c;
}

.page__paragraph {
  margin-top: 50px;
}
@media screen and (max-width: 479.98px) {
  .page__paragraph {
    margin-top: 30px;
  }
}

.paragraph__text:not(:last-child) {
  margin-bottom: 50px;
}
@media screen and (max-width: 767.98px) {
  .paragraph__text:not(:last-child) {
    margin-bottom: 30px;
  }
}

.paragraph__secondary {
  font-weight: 600;
  font-size: 25px;
  color: #000000;
}
@media screen and (max-width: 479.98px) {
  .paragraph__secondary {
    font-size: 22px;
  }
}

.paragraph__red {
  font-weight: 600;
  font-size: 25px;
  color: #ff0000;
}
@media screen and (max-width: 479.98px) {
  .paragraph__red {
    font-size: 22px;
  }
}

.text__accent {
  font-weight: 700;
}

.page__teaser {
  margin-top: 68px;
}
@media screen and (max-width: 767.98px) {
  .page__teaser {
    margin-top: 30px;
  }
}

.teaser__cover {
  position: relative;
}

.teaser__image {
  width: 100%;
  height: 100%;
}

.teaser__title {
  position: absolute;
  top: 7%; /* 54/1024 */
  left: 7%; /* 52/1024 */
  font-size: 38px;
}
@media screen and (max-width: 767.98px) {
  .teaser__title {
    font-size: 18px;
  }
}
@media screen and (max-width: 479.98px) {
  .teaser__title {
    font-size: 10px;
    top: 0;
    left: 0;
  }
  .teaser__title:before {
    display: none;
  }
  .teaser__title::after {
    display: none;
  }
}

@media screen and (max-width: 479.98px) {
  .teaser__accent:before {
    display: none;
  }
  .teaser__accent::after {
    display: none;
  }
}

.teaser__content {
  position: absolute;
  bottom: 39px;
  left: 0;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5px;
  background-color: #040f85;
}
@media screen and (max-width: 767.98px) {
  .teaser__content {
    bottom: 10px;
  }
}

.teaser__text {
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 38px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.teaser__text::before {
  content: "";
  z-index: 50;
  position: absolute;
  top: -10px;
  left: 34px;
  width: 20px;
  height: 120%;
  background-color: #ffe500;
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
}
.teaser__text::after {
  content: "";
  z-index: 50;
  position: absolute;
  top: -10px;
  left: 65px;
  width: 15px;
  height: 120%;
  background-color: #ffe500;
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
}
@media screen and (max-width: 767.98px) {
  .teaser__text {
    margin-left: 50px;
    font-size: 20px;
  }
  .teaser__text::before {
    left: 7px;
    width: 10px;
  }
  .teaser__text::after {
    left: 20px;
    width: 7px;
  }
}
@media screen and (max-width: 479.98px) {
  .teaser__text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
  }
}

.line__title {
  font-size: 19px;
  margin-right: 20px;
  border: 2.54135px solid #ffffff;
}
.line__title::before {
  top: -10px;
  left: -10px;
  width: 11px;
  height: 12px;
  border-top: 2.9044px solid #ffffff;
  border-left: 2.9044px solid #ffffff;
}
.line__title::after {
  top: -10px;
  right: -10px;
  width: 11px;
  height: 12px;
  border-top: 2.9044px solid #ffffff;
  border-right: 2.9044px solid #ffffff;
}
@media screen and (max-width: 767.98px) {
  .line__title {
    font-size: 11px;
  }
}
@media screen and (max-width: 479.98px) {
  .line__title {
    display: none;
  }
}

.line_accent::before {
  bottom: -10px;
  left: -10px;
  width: 11px;
  height: 12px;
  border-bottom: 2.9044px solid #ffffff;
  border-left: 2.9044px solid #ffffff;
}
.line_accent::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 11px;
  height: 12px;
  border-bottom: 2.9044px solid #ffffff;
  border-right: 2.9044px solid #ffffff;
}

.page__media {
  margin-top: 50px;
}
@media screen and (max-width: 767.98px) {
  .page__media {
    margin-top: 30px;
  }
}

.media__container {
  position: relative;
}

.media__image {
  width: 100%;
}

.media__title {
  position: absolute;
  top: 7%; /* 50/683 */
  left: 5%; /* 50/1026 */
  font-size: 35px;
}
@media screen and (max-width: 767.98px) {
  .media__title {
    font-size: 15px;
  }
}
@media screen and (max-width: 479.98px) {
  .media__title {
    padding: 6px 20px 6px 20px;
    font-size: 10px;
    top: 2%;
  }
  .media__title:before {
    display: none;
  }
  .media__title::after {
    display: none;
  }
}

@media screen and (max-width: 479.98px) {
  .media__accent:before {
    display: none;
  }
  .media__accent::after {
    display: none;
  }
}

.media__content {
  position: absolute;
  left: 50px;
  bottom: 50px;
}
@media screen and (max-width: 767.98px) {
  .media__content {
    left: 20px;
    bottom: 20px;
  }
}
@media screen and (max-width: 479.98px) {
  .media__content {
    left: 15px;
    bottom: 5px;
  }
}

.media__name {
  padding: 12px 10px;
  font-weight: 600;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: rgba(4, 15, 133, 0.73);
  -webkit-backdrop-filter: blur(4.63834px);
          backdrop-filter: blur(4.63834px);
}
@media screen and (max-width: 767.98px) {
  .media__name {
    font-size: 25px;
  }
}
@media screen and (max-width: 479.98px) {
  .media__name {
    font-size: 16px;
  }
}

.media__text {
  padding: 6px;
  font-weight: 400;
  font-size: 21px;
  color: #ffffff;
  background-color: rgba(0, 22, 255, 0.62);
  -webkit-backdrop-filter: blur(4.63834px);
          backdrop-filter: blur(4.63834px);
}
@media screen and (max-width: 767.98px) {
  .media__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 479.98px) {
  .media__text {
    font-size: 12px;
  }
}

.page__institute {
  margin-top: 70px;
}
@media screen and (max-width: 767.98px) {
  .page__institute {
    margin-top: 30px;
  }
}

.institute__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.institute__text {
  max-width: 389px;
  font-weight: 400;
  font-size: 22px;
  margin-top: auto;
  color: #4b4b4b;
}

.institute__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.institute__media {
  position: relative;
  max-width: 310px;
}

.institute__newpost {
  position: absolute;
  top: 24%;
  left: -17%;
  width: 121px;
}

.institute__map {
  width: 100%;
}

.page__sub {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (max-width: 767.98px) {
  .page__sub {
    margin-top: 30px;
  }
}

.sub__title {
  text-align: center;
  margin-bottom: 10px;
}

.sub__time {
  text-align: center;
  color: #ff0000;
  margin-bottom: 30px;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-name {
  margin-bottom: 10px;
}

.input-modal {
  border: 2px solid black;
}

.button {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  color: #ffffff;
  background-color: #040f85;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.button:hover, .button:focus {
  color: #ffe600;
  background-color: #0a19c1;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  text-align: center;
  width: 300px;
  border-radius: 5px;
}/*# sourceMappingURL=main.css.map */