.page__main {
}
.main {
  background-image: url(../././img/main-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main__container {
  display: flex;
  justify-content: space-between;
}
.main__content {
  margin-bottom: 23px;
}
.main__title {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 20px;

  font-size: 48px;

  @media screen and (max-width: 479.98px) {
    font-size: 27px;
    margin-top: 25px;
    margin-bottom: 175px;
  }
}
.title {
  display: inline-block;
  position: relative;
  padding: 6px 43px 6px 43px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: $mainWhite;

  background: #040f85;
  border: 4.91729px solid #ffffff;
  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: 27px;
    height: 30px;
    border-top: 7.03937px solid #ffffff;
    border-left: 7.03937px solid #ffffff;
  }
  &::after {
    content: "";
    position: absolute;
    top: -20px;
    right: -20px;
    width: 27px;
    height: 30px;
    border-top: 7.03937px solid #ffffff;
    border-right: 7.03937px solid #ffffff;
  }
}
.main__accent {
  color: $mainYellow;
  &::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -20px;
    width: 27px;
    height: 30px;
    border-bottom: 7.03937px solid #ffffff;
    border-left: 7.03937px solid #ffffff;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 27px;
    height: 30px;
    border-bottom: 7.03937px solid #ffffff;
    border-right: 7.03937px solid #ffffff;
  }
}
.main__text {
  font-weight: 600;
  font-size: 48px;
  text-transform: uppercase;

  color: $mainWhite;

  margin-bottom: 8px;
  @media screen and (max-width: 479.98px) {
    font-size: 27px;
    z-index: 10;
  }
}
.main__day {
  display: inline-block;
  padding: 2px;
  font-weight: 600;
  font-size: 48px;
  text-transform: uppercase;

  color: #040f85;

  background-color: $mainYellow;

  margin-bottom: 13px;
  @media screen and (max-width: 479.98px) {
    position: relative;
    font-size: 27px;
    z-index: 10;
  }
}
.main__time {
  font-weight: 800;
  font-size: 48px;

  color: #ffffff;
  @media screen and (max-width: 479.98px) {
    position: relative;
    font-size: 27px;
    z-index: 10;
  }
}
.main__media {
  position: relative;
  max-width: 64.6%; /* 662/1024 */
  display: flex;
  align-items: flex-end;
}
.main__image {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
  height: 518px;
  width: 774px;
  @media screen and (max-width: 1023.98px) {
    right: -192px;
  }
  @media screen and (max-width: 767.98px) {
    height: 366px;
    width: 581px;
  }
  @media screen and (max-width: 479.98px) {
    width: 575px;
  }
}
